* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.logo {
	height: 70px;
	float: left;
}

header {
	height: 70px;
	width: 100%;
	background-color: #EC715F;
}
.header-content {
	width: 1024px;
	height: 70px;
	margin: 0 auto
	/*background-image: url(log.png);*/
	/*background-size: contain;*/
}
.nav-unshown {
	display: none;
}
ul a {
	text-decoration: none;
	color: white;
}

ul {
	float: right;
	position: relative;
	bottom: 25px;
}
.list {
	list-style: none;
	font-size: 16px;
	color: #FAFAFA;
	padding: 50px 30px;
	display: inline-block;
	font-family: "Times New Roman", sans-serif;
}

.main-visual {
	height: 650px;
	padding-top: 200px;
	background-image: url(img11/mv.png);
	background-size: cover;
}
.visual-text {
	text-align: center;
	color: #FAFAFA;
	font-size: 64px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
}
.visual-text2 {
	text-align: center;
	color: #FAFAFA;
	font-size: 20px;
	margin-top: 10px;
	font-family: "Times New Roman", sans-serif;
}
.main-box {
	width: 100%;
	padding: 90px 0;
	margin: 0 auto;
}
.empty {
	height: 8px;
	width: 70px;
	border-bottom: 3px solid #EC715F;
	margin :0 auto;
}

.color {
	background-color: #ECEFF1;
}
.portfolio {
	width: 920px;
	margin: 90px auto;
}
.feature {
	width: 980px;
	margin: 90px auto;
}
.profile {
	width: 1024px;
	margin: 90px auto;
}
.contact {
	width: 800px;
	margin: 90px auto;
}
#theme {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
	border-bottom: 3px 70px solid #EC715F;
	text-align: center;
	font-weight: bold;
}

.comment {
	text-align: center;
	font-size: 16px;
	color: #000000;
	margin: 30px 0;
	font-family: "Times New Roman", sans-serif;
}
.portfolio_box {
	margin: 0 auto;
	width: 920px
}
.img {
	width: 300px;
	height: 250px;
	float: left;
	background-size: cover;
	background-position: center;
}
.img:nth-child(3n-1) {
	margin: 0 10px;
}
.img:nth-child(1) {
	background-image: url(img11/sketch.jpg);
	margin-bottom: 10px;
}
.img:nth-child(2) {
	background-image: url(img11/websuku.png);
	margin-bottom: 10px;
}
.img:nth-child(3) {
	background-image: url(img11/write.jpg);
	margin-bottom: 10px;
}
.img:nth-child(4) {
	background-image: url(img11/webcamp.png);
}
.img:nth-child(5) {
	background-image: url(img11/talk.jpg);
}
.img:nth-child(6) {
	background-image: url(img11/webcamp-mother.png);
}
.box {
	width: 980px;
	margin: 0 auto;
}
.strength {
	width: 320px;
	height: auto;
	margin-bottom: 90px;
	float: left;
}
.strength:nth-child(2) {
	margin: 0 10px;
}
.strength i {
	font-size: 60px;
	margin-left: 120px;
}
.strength h4 {
	font-size: 20px;
	padding: 10px 0;
	color: #000000;
	text-align: center;
}
.strength p {
	font-size: 16px; 
	color: #000000;
	font-family: "Times New Roman",sans-serif;
	padding-left: 30px;
}
.profile_box {
	width: 1024px;
	margin: 0 auto;
}
.my-picture {
	width: 512px;
	float: left;
	margin-bottom: 90px;
	text-align: center;
	/*margin: auto;*/
}
.my-picture img {
	border-radius: 50%;
	height: 250px;
	width: 250px;
	margin: auto ;
}
.intro {
	width: 512px;
	float: left;
	margin-bottom: 90px;
}
.intro h4 {
	font-size: 20px;
	margin-bottom: 5px;
}
.intro p {
	font-size: 16px;
	color: #000000;
	font-family: "Times New Roman", sans-serif;
}
.main-box:third-child {
	margin: 0 auto;
}
#contact, .contact_box {
	width: 90%;
	margin: 0 auto;
}
.contact_box {
	/*margin-right: 70px;*/
	padding: 0, 20px;
	width: 800px;
	margin: 0 auto;
}
.leftbox, .rightbox {
	width: 50%;
	float: left;
	height: 100%;
}
.adress, .social {
	width: 175px;
	
	margin: 0 auto;
	/*padding: 0 30px;*/
	/*text-align: left;*/
}
.adress {
	/*padding-left: 120px;*/
}
.social {
	/*padding-right: 50px;*/
}
.adress h4, .social h4 {
	font-size: 20px;
	margin-bottom: 5px
}
.adress a:first-child {
	margin-bottom: 20px;
}
.adress a {
	font-family: "Times New Roman", sans-serif;
}
.social i {
	font-size: 50px;
	display: inline-block;
	/*margin: 0 20px;*/
}
.fa-twitter {
	padding: 0 20px;
}

footer {
	height: 60px;
	background-color: #EC715F;
}
.footer-text {
	color: #FAFAFA;
	font-size: 16px;
	padding: 20px;
	text-align: center;
}
#nav-open {
    display:none;
  }


@media screen and (max-width: 768px) {

.logo {
	height: 50px;
	float: left;
}

/*ハンバーガーメニュー*/
header {
  background: skyblue;
  height: 50px;
  width: 100%;
  background-color: #EC715F;
}

#nav-drawer {
  position: relative;
  /*left: 200px;*/
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  color: white;
  float: right;
  margin-border: 2px solid white;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 30px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
  background-color: white;
}
#nav-open span:after {
  bottom: -16px;
  background-color: white;
}
#nav-open span {
	background-color: white;
}
#nav-open {
	padding: 3px;
	border-color: white ;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 120px;/*最大幅（調整してください）*/
  height: 100%;
  background: #EC715F;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-100%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
.square {
	display: inline-block;
	margin-left: 60% ;
	border: solid white;
	padding: 7px;
}
/*hハンバーガーメニューここまで*/



.header-content {
	width: 90%;
	height: 50px;
	margin: 0 auto;
	padding: 5px 0;
	/*background-image: url(log.png);*/
	/*background-size: contain;*/
}
ul a {
	text-decoration: none;
}

ul {
	float: right;

}
.list {
	list-style: none;
	font-size: 16px;
	color: #FAFAFA;
	padding: 30px 30px;
	display: block;
	text-align: center;
	font-family: "Times New Roman", sans-serif;
}

.main-visual {
	height: 650px;
	padding: 200px 5% 0 5%;
	background-image: url(img11/code.png);
	background-size: cover;
	background-position: center;
}
.visual-text {
	text-align: center;
	color: #FAFAFA;
	font-size: 40px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
}
.visual-text2 {
	text-align: center;
	color: #FAFAFA;
	font-size: 18px;
	margin-top: 10px;
	font-family: "Times New Roman", sans-serif;
}
.main-box {
	width: 100%;
	padding: 90px 5%;
	margin: 0 auto;
}


.portfolio, .feature, .profile, .contact {
	width: 100%;
	margin: 0px auto;
}

.theme {
	text-align: center;
	font-weight: bold;
}

.portfolio_box {
	margin: 0 auto;
	width: 100%;
}
.img {
	width: 300px;
	height: 250px;
	float: none;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.img:nth-child(2n-1) {
	display: none;
}
.img:nth-child( 4) {
	margin: 10px auto;
}
.img:nth-child(2) {
	margin: 0px auto;
}

.box {
	width: 100%;
}
.comments {
	/*padding: 0 20%;*/
	/*margin: 0 auto;*/
}
.strength:nth-child(2) {
	padding: 0;
	margin:0 auto;
}
.strength {
	width: 90%;
	height: auto;
	margin:0 0 90px 0;
	float: none;
}

.strength {
	margin: 0 auto;
	width: 320px;
}
.strength i {
	font-size: 60px;
	margin: 0;
	text-align: center;
	display: block;
	/*margin-left: 45%;*/
	/*margin-left: 120px;*/
}
.strength h4 {
	text-align: center;
	padding: 10px auto;
}
.strength p {
	/*padding-left: 30px;*/
	display: inline-block;
	margin :0 auto;
	margin-bottom: 10px;
	/*margin-left: 20%;*/
	/*padding: 0px;*/
}
.profile_box {
	width: 100%;
	margin: 0 auto;
}
.my-picture {
	width: 100%;
	float: none;
	margin-bottom: 90px;
	/*text-align: center;*/
	margin: auto;
}

.intro {
	width: 100%;
	float: none;
	margin-bottom: 90px;
	text-align: center;
	margin: 0 auto;
}
.intro h4 {
	margin: 20px 0 5px 0;
}

.main-box:nth-child(3,4) {
	margin: 0 auto;
}
#contact, .contact_box {
	width: 100%;
	margin: 0 auto;
}
.contact_box {
	/*margin-right: 70px;*/
	padding: 0, 20px;
	width: 100%
}
.leftbox, .rightbox {
	width: 100%;
	float:none;
	}
	.rightbox {
		margin-top: 20px;
	}
.adress, .social {
	width: 400px;
	float: none;
	margin: 0 auto;
	/*padding: 0 30px;*/
	/*text-align: left;*/
}
.adress {
	/*padding-left: 120px;*/
	margin: 0 auto;
	padding: 0px;
}
.social {
	/*padding-right: 50px;*/
	margin: 0 auto;
	/*padding-left: 50px;*/
}
.adress h4, .social h4 {
	font-size: 20px;
	margin-bottom: 5px;
	text-align:center;
}

.adress h4:first-child {
	margin-top: 30px;
}

.adress a {
	margin-bottom: 20px;
	position: relative;
	left: 38%;
}
.social i {
	font-size: 50px;
	display: inline-block;
	margin: 0 8px;
	text-align: center;
}
.icon {
	padding-left: 22%;
	margin: 0 auto;
}
.mail, .tell {
	margin-bottom: 20px;
}
}
